<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  {{>headerLinks}}
</head>
<body>
   {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side dev -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                          <img src="images/about.jpg"  alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
                             
  
                  </div>
                     <div class="col-md-6 col-12 main_header_left">
                         <p>Welcome to weather app</p>
                         <h1>I am a<span class="text-color"> MERN Stack Developer</span> and an IT Professional</h1>
                         <a href="#"><button>About me</button></a>

                     </div>
                     <!-- right side div -->
                     
            </div>
        </div>
    </div>    
</div>        

{{>footer}}
</body>
</html>